:root {
    --header-height: 40px;
    --header-color: #202538;
    --body-color: #2e384c;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--body-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    background-color: var(--header-color);
}

header .App-logo {
    width: 45px;
    height: auto;
    pointer-events: none;
    user-select: none;
}

header h1 {
    text-align: center;
    font-weight: 400;
    font-size: 1.3rem;
    color: #fff;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin-color infinite 60s linear;
    }
}
@keyframes App-logo-spin-color {
    from {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

/* main */
main {
    color: #fff;
    width: 94%;
    margin: 0 auto;
    font-size: 1rem;
    padding: 10px 0;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

button.btn {
    text-align: center;
    margin: .75rem auto 0 auto;
    display: block;
    padding: .25rem .75rem;
    font-size: .95rem;
    font-weight: 500;
    border: none;
    color: #fff;
    border-radius: .25rem;
    cursor: pointer;
    transition: all 200ms ease;
    user-select: none;
    background-color: rgb(180, 132, 10);
}

button.btn:hover {
    background-color: rgb(153, 112, 8);
}





.counter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter span {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 20px;
}
.counter .pos {
    color: #03cb4a;
}
.counter .neg {
    color: #f54949;
}
.counter button {
    margin: 0;
}
.password {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: #263044;
    box-shadow: 2px 2px 6px #00000026;
}

.password input {
    width: 45%;
    outline: none;
    padding: 3px;
    margin-bottom: 10px;
}
.password input:nth-child(2) {
    margin-left: 5%;
}

.password h2 {
    font-size: 1rem;
    text-align: center;
}

.pet-form {
    margin: 1rem 0;
    
}

.pet-form fieldset {
    padding: 1rem;
    border: solid 1px #354056;
    border-radius: 0.25rem;
    background-color: #263044;
    box-shadow: 2px 2px 6px #00000026;
}
.pet-form legend {
    font-size: .9rem;
    padding: 0 6px;
    text-align: center;
}

.pet-form input {
    width: 30%;
    border-radius: .25rem;
    border: none;
    outline: none;
    padding: .2rem;
    margin: 0 1%;
    border: solid 1px #7273ad;
}
.pet-form input:focus {
    border-color: #ff5722;
}
.pet-form input::placeholder {
    color: rgb(151, 151, 151);
}

.pets-section {
    padding: 1rem;
    border: solid 1px #354056;
    border-radius: 0.25rem;
    background-color: #263044;
    box-shadow: 2px 2px 6px #00000026;
}

.posts {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.posts h2 {
    font-weight: 500;
    margin-bottom: 10px;
}

.post {
    padding: 1rem;
    width: 200px;
    border-radius: 0.25rem;
    background-color: #263044;
    box-shadow: 2px 2px 6px #00000026;
}

.post h3 {
    font-size: 1rem;
    font-weight: 500;
}

.post img {
    max-width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
    background-color: #2e2e2e;
}

.post p {
    font-size: 0.8rem;
}

.post .info {
    display: flex;
    justify-content: space-between;
}
