body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  background-color: #0a162c;
  min-height: 100vh;
  color: #f1f1f1;
  font-size: calc(10px + 2vmin);
  padding: 3rem 0 0 0;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin: 0 auto 3rem auto;
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

label.todo-label {
  display: block;
  margin: 1rem auto;
}

label.todo-label:hover {
	cursor: pointer;
	color: cadetblue;
}
